# Dependencies and build artifacts (any package).
**/node_modules
**/distribution
**/build
**/.cache

# Local-only files.
**/.env
**/.env.development
**/.env.production
**/test.js
**/test.ts

# Miscellaneous.
.git
.dockerignore
**/Dockerfile
**/.DS_Store
