# Dependencies and build artifacts (any package).
**/node_modules
**/distribution
**/build
**/.cache
**/.wrangler

# Local-only files.
**/.env
**/.env.development
**/.env.production
**/.dev.vars*
!**/.dev.vars.example
**/test.js
**/test.ts

# Miscellaneous.
.git
.dockerignore
**/Dockerfile
**/.DS_Store
