# Debug
test.js
test.ts

# dependencies
node_modules

# Environment files
.env
.env.production
.env.development

# Miscellaneous
.cache
.DS_Store
.react-router
build
distribution/
friendship-tree.webp
packages/utility/en-gb.json
