# Debug
test.js
test.ts

# dependencies
node_modules

# Environment files
.env
.env.production
.env.development
.dev.vars*
!.dev.vars.example

# Locales
packages/utility/locales

# Miscellaneous
.cache
.DS_Store
.wrangler
.react-router
build
distribution/
friendship-tree.webp
packages/utility/en-gb.json
