services:
  database-backup:
    image: database-backup:latest
    profiles:
      - database-backup
    restart: unless-stopped
    logging:
      driver: local
      options:
        max-size: 1m
        max-file: 1
        compress: "false"
    environment:
      AWS_ACCESS_KEY_ID: ${S3_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${S3_SECRET_ACCESS_KEY}
      AWS_S3_ENDPOINT: ${S3_ENDPOINT}
      AWS_DEFAULT_REGION: ${S3_DEFAULT_REGION}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB_CAELUS}
      POSTGRES_HOST: ${POSTGRES_HOST}
      S3_BUCKET: ${S3_BUCKET}
  thatskyapplication-caelus:
    image: thatskyapplication-caelus:latest
    profiles:
      - thatskyapplication-caelus
    restart: unless-stopped
    logging:
      driver: local
      options:
        max-size: 1m
        max-file: 1
        compress: "false"
    environment:
      DISCORD_TOKEN: ${DISCORD_TOKEN}
      MAXIMUM_CONCURRENCY_LIMIT: ${MAXIMUM_CONCURRENCY_LIMIT}
      APPLICATION_ID: ${APPLICATION_ID}
      SUPPORT_SERVER_GUILD_ID: ${SUPPORT_SERVER_GUILD_ID}
      SUPPORT_SERVER_INVITE_URL: ${SUPPORT_SERVER_INVITE_URL}
      FEEDBACK_CHANNEL_ID: ${FEEDBACK_CHANNEL_ID}
      SKY_PROFILE_REPORTS_CHANNEL_ID: ${SKY_PROFILE_REPORTS_CHANNEL_ID}
      SHOP_SUGGESTIONS_CHANNEL_ID: ${SHOP_SUGGESTIONS_CHANNEL_ID}
      DAILY_GUIDES_LOG_CHANNEL_ID: ${DAILY_GUIDES_LOG_CHANNEL_ID}
      MEMBER_LOG_CHANNEL_ID: ${MEMBER_LOG_CHANNEL_ID}
      MESSAGE_LOG_CHANNEL_ID: ${MESSAGE_LOG_CHANNEL_ID}
      MESSAGE_LOG_EXPLICIT_ALLOWED_CHANNEL_IDS: ${MESSAGE_LOG_EXPLICIT_ALLOWED_CHANNEL_IDS}
      MESSAGE_LOG_EXPLICIT_DISALLOWED_CHANNEL_IDS: ${MESSAGE_LOG_EXPLICIT_DISALLOWED_CHANNEL_IDS}
      IDEA_TAG_ID: ${IDEA_TAG_ID}
      ISSUE_TAG_ID: ${ISSUE_TAG_ID}
      DEVELOPER_ROLE_ID: ${DEVELOPER_ROLE_ID}
      SUPPORTER_ROLE_ID: ${SUPPORTER_ROLE_ID}
      ARTIST_ROLE_ID: ${ARTIST_ROLE_ID}
      TRANSLATOR_ROLE_ID: ${TRANSLATOR_ROLE_ID}
      DATABASE_URL: ${DATABASE_URL_CAELUS}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      OPENAI_BASE_URL: ${OPENAI_BASE_URL}
      AI_GATEWAY_TOKEN: ${AI_GATEWAY_TOKEN}
      S3_ACCESS_KEY_ID: ${S3_ACCESS_KEY_ID}
      S3_ACCOUNT_ID: ${S3_ACCOUNT_ID}
      S3_SECRET_ACCESS_KEY: ${S3_SECRET_ACCESS_KEY}
      SENTRY_DATA_SOURCE_NAME: ${SENTRY_DATA_SOURCE_NAME}
  thatskyapplication-notifications:
    image: thatskyapplication-notifications:latest
    profiles:
      - thatskyapplication-notifications
    restart: unless-stopped
    logging:
      driver: local
      options:
        max-size: 1m
        max-file: 1
        compress: "false"
    environment:
      DISCORD_TOKEN: ${DISCORD_TOKEN}
      DATABASE_URL: ${DATABASE_URL_CAELUS}
      SENTRY_DATA_SOURCE_NAME: ${SENTRY_DATA_SOURCE_NAME_NOTIFICATIONS}
  thatskyapplication-socials:
    image: thatskyapplication-socials:latest
    profiles:
      - thatskyapplication-socials
    restart: unless-stopped
    logging:
      driver: local
      options:
        max-size: 1m
        max-file: 1
        compress: "false"
    environment:
      DATABASE_URL: ${DATABASE_URL_CAELUS}
      SENTRY_DATA_SOURCE_NAME: ${SENTRY_DATA_SOURCE_NAME_SOCIALS}
      REDDIT_APPLICATION_ID: ${REDDIT_APPLICATION_ID}
      REDDIT_APPLICATION_SECRET: ${REDDIT_APPLICATION_SECRET}
      TWITCH_CLIENT_ID: ${TWITCH_CLIENT_ID}
      TWITCH_CLIENT_SECRET: ${TWITCH_CLIENT_SECRET}
      TWITCH_USER_ID: ${TWITCH_USER_ID}
  thatskyapplication-website:
    image: thatskyapplication-website:latest
    profiles:
      - thatskyapplication-website
    x-ports:
      - thatskyapplication.com:80/https
    restart: unless-stopped
    logging:
      driver: local
      options:
        max-size: 1m
        max-file: 1
        compress: "false"
    environment:
      SESSION_SECRET: ${SESSION_SECRET}
      DATABASE_URL: ${DATABASE_URL_CAELUS}
      DISCORD_TOKEN: ${DISCORD_TOKEN_CAELUS}
      INTERNAL_URL_CAELUS: ${INTERNAL_URL_CAELUS}
      APPLICATION_ID: ${APPLICATION_ID}
      DISCORD_CLIENT_SECRET: ${DISCORD_CLIENT_SECRET}
      SUPPORT_SERVER_GUILD_ID: ${SUPPORT_SERVER_GUILD_ID}
      TRANSLATOR_ROLE_ID: ${TRANSLATOR_ROLE_ID}
      CROWDIN_CLIENT_ID: ${CROWDIN_CLIENT_ID}
      CROWDIN_CLIENT_SECRET: ${CROWDIN_CLIENT_SECRET}
      REDIRECT_URI_LOGIN: ${REDIRECT_URI_LOGIN}
      REDIRECT_URI_DISCORD_CROWDIN: ${REDIRECT_URI_DISCORD_CROWDIN}
      SENTRY_DATA_SOURCE_NAME: ${SENTRY_DATA_SOURCE_NAME_WEBSITE}
