name: Crowdin synchronisation
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  synchronise:
    name: Synchronise
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Create token
        id: create-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.APPLICATION_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          owner: thatskyapplication
          repositories: thatskyapplication
          permission-contents: write
          permission-pull-requests: write

      - uses: actions/checkout@v5
        with:
          token: ${{ steps.create-token.outputs.token }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version: 24

      - name: Install dependencies
        run: pnpm --filter @thatskyapplication/utility... install

      - name: Build dependencies
        run: pnpm --filter @thatskyapplication/utility run build

      - uses: crowdin/github-action@v2
        with:
          upload_sources: false
          upload_translations: false
          download_sources: false
          download_translations: true
          skip_untranslated_strings: false
          export_only_approved: false
          push_translations: false
          create_pull_request: false
        env:
          GITHUB_TOKEN: ${{ steps.create-token.outputs.token }}
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}

      # Files are created by root.
      - name: Fix file ownership
        run: sudo chown --recursive $(whoami):$(id --group --name) packages/utility/source/locales/*.json

      - name: Run Biome
        run: pnpm --filter @thatskyapplication/utility run format

      - name: Update files
        run: |
          git config user.name thatskyapplication[bot]
          git config user.email "${{ vars.APPLICATION_USER_ID }}+thatskyapplication[bot]@users.noreply.github.com"
          git checkout -b chore/translations
          git add packages/utility/source/locales

          if git diff --cached --quiet; then
            echo "::notice::No translation changes to commit."
            exit 0
          fi

          git commit --message "chore: Update translation files"
          git push --force origin chore/translations

          if [ "$(gh pr list --head chore/translations --state open --json number | jq length)" -eq 0 ]; then
            gh pr create --base main --body "" --title "chore: Update translation files"
          fi
        env:
          GITHUB_TOKEN: ${{ steps.create-token.outputs.token }}
