name: Deploy notifications
on:
  push:
    branches:
      - main
    paths:
      - apps/notifications/**/*
      # Ensure a change in travelling spirits triggers this workflow.
      - packages/utility/source/spirits/**/*
  workflow_dispatch:
concurrency:
  group: deploy-notifications
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: apps/notifications/Dockerfile
          tags: thatskyapplication-notifications:latest
          load: true
          platforms: linux/amd64
          cache-from: type=gha,scope=deploy-thatskyapplication-notifications
          cache-to: type=gha,mode=max,scope=deploy-thatskyapplication-notifications
          build-args: SENTRY_RELEASE=${{ github.sha }}
        env:
          DOCKER_BUILD_SUMMARY: false
          DOCKER_BUILD_RECORD_UPLOAD: false

      - name: Deploy via Uncloud
        uses: thatskyapplication/uncloud-action@v1
        with:
          image-tag: thatskyapplication-notifications:latest
          compose-files: compose.yaml
          uncloud-profile: thatskyapplication-notifications
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY_SERVER }}
          server-user: ${{ secrets.SERVER_USER }}
          server-host: ${{ secrets.SERVER_IP }}
          recreate: true
        env:
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
          DATABASE_URL_CAELUS: postgresql://${{ secrets.POSTGRES_USER }}:${{ secrets.POSTGRES_PASSWORD }}@${{ secrets.POSTGRES_HOST }}:5432/${{ secrets.POSTGRES_DB_CAELUS }}
          SENTRY_DATA_SOURCE_NAME_NOTIFICATIONS: ${{ secrets.SENTRY_DATA_SOURCE_NAME_NOTIFICATIONS }}
