name: Deploy database backup
on:
  workflow_dispatch:
permissions:
  contents: read
jobs:
  deploy:
    name: Deploy database backup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.backup
          tags: database-backup:latest
          load: true
          platforms: linux/amd64
          cache-from: type=gha,scope=deploy-database-backup
          cache-to: type=gha,mode=max,scope=deploy-database-backup
        env:
          DOCKER_BUILD_SUMMARY: false
          DOCKER_BUILD_RECORD_UPLOAD: false

      - name: Deploy via Uncloud
        uses: thatskyapplication/uncloud-action@v1
        with:
          image-tag: database-backup:latest
          compose-files: compose.yaml
          uncloud-profile: database-backup
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY_SERVER }}
          server-user: ${{ secrets.SERVER_USER }}
          server-host: ${{ secrets.SERVER_IP }}
          recreate: true
        env:
          S3_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
          S3_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
          S3_ENDPOINT: https://${{ secrets.S3_ACCOUNT_ID }}.r2.cloudflarestorage.com
          S3_DEFAULT_REGION: ${{ secrets.S3_DEFAULT_REGION }}
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB_CAELUS: ${{ secrets.POSTGRES_DB_CAELUS }}
          POSTGRES_HOST: ${{ secrets.POSTGRES_HOST }}
          S3_BUCKET: ${{ secrets.S3_BUCKET }}
