name: Deploy Caelus (Discord)
on:
  push:
    branches:
      - main
    paths:
      - apps/caelus/discord/**/*
      # Ensure a change in travelling spirits triggers this workflow.
      - packages/utility/source/spirits/**/*
      - packages/utility/source/friendship-actions.ts
  workflow_dispatch:
concurrency:
  group: deploy-caelus-discord
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: apps/caelus/discord/Dockerfile
          tags: thatskyapplication-caelus-discord:latest
          load: true
          platforms: linux/amd64
          cache-from: type=gha,scope=deploy-thatskyapplication-caelus-discord
          cache-to: type=gha,mode=max,scope=deploy-thatskyapplication-caelus-discord
          build-args: SENTRY_RELEASE=${{ github.sha }}
        env:
          DOCKER_BUILD_SUMMARY: false
          DOCKER_BUILD_RECORD_UPLOAD: false

      - name: Deploy via Uncloud
        uses: thatskyapplication/uncloud-action@v1
        with:
          image-tag: thatskyapplication-caelus-discord:latest
          compose-files: compose.yaml
          uncloud-profile: thatskyapplication-caelus-discord
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY_SERVER }}
          server-user: ${{ secrets.SERVER_USER }}
          server-host: ${{ secrets.SERVER_IP }}
          recreate: true
        env:
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
          MAXIMUM_CONCURRENCY_LIMIT: ${{ vars.MAXIMUM_CONCURRENCY_LIMIT }}
          APPLICATION_ID: ${{ vars.DISCORD_APPLICATION_ID }}
          SUPPORTER_SKU_ID: ${{ vars.SUPPORTER_SKU_ID }}
          SUPPORT_SERVER_GUILD_ID: ${{ vars.SUPPORT_SERVER_GUILD_ID }}
          SUPPORT_SERVER_INVITE_URL: ${{ vars.SUPPORT_SERVER_INVITE_URL }}
          UPDATING_DAILY_GUIDES_CHANNEL_ID: ${{ vars.UPDATING_DAILY_GUIDES_CHANNEL_ID }}
          SKY_PROFILE_REPORTS_CHANNEL_ID: ${{ vars.SKY_PROFILE_REPORTS_CHANNEL_ID }}
          SHOP_SUGGESTIONS_CHANNEL_ID: ${{ vars.SHOP_SUGGESTIONS_CHANNEL_ID }}
          DAILY_GUIDES_LOG_CHANNEL_ID: ${{ vars.DAILY_GUIDES_LOG_CHANNEL_ID }}
          MEMBER_LOG_CHANNEL_ID: ${{ vars.MEMBER_LOG_CHANNEL_ID }}
          MESSAGE_LOG_CHANNEL_ID: ${{ vars.MESSAGE_LOG_CHANNEL_ID }}
          MESSAGE_LOG_EXPLICIT_ALLOWED_CHANNEL_IDS: ${{ vars.MESSAGE_LOG_EXPLICIT_ALLOWED_CHANNEL_IDS }}
          MESSAGE_LOG_EXPLICIT_DISALLOWED_CHANNEL_IDS: ${{ vars.MESSAGE_LOG_EXPLICIT_DISALLOWED_CHANNEL_IDS }}
          DEVELOPER_ROLE_ID: ${{ vars.DEVELOPER_ROLE_ID }}
          SUPPORTER_ROLE_ID: ${{ vars.SUPPORTER_ROLE_ID }}
          ARTIST_ROLE_ID: ${{ vars.ARTIST_ROLE_ID }}
          TRANSLATOR_ROLE_ID: ${{ vars.TRANSLATOR_ROLE_ID }}
          DATABASE_URL_CAELUS: postgresql://${{ secrets.POSTGRES_USER }}:${{ secrets.POSTGRES_PASSWORD }}@${{ secrets.POSTGRES_HOST }}:5432/${{ secrets.POSTGRES_DB_CAELUS }}
          S3_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
          S3_ACCOUNT_ID: ${{ secrets.S3_ACCOUNT_ID }}
          S3_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
          SENTRY_DATA_SOURCE_NAME: ${{ secrets.SENTRY_DATA_SOURCE_NAME }}
