name: Triage pull request
on:
  pull_request_target:
permissions: {}
jobs:
  label:
    name: Label
    runs-on: ubuntu-latest
    steps:
      - name: Create token
        id: create-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.APPLICATION_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          owner: thatskyapplication
          repositories: thatskyapplication
          permission-pull-requests: write

      - name: Label pull request
        uses: actions/labeler@v5
        with:
          repo-token: ${{ steps.create-token.outputs.token }}
          configuration-path: .github/labeller.yaml
          sync-labels: true
