name: Nesting Workshop reminder
on:
  schedule:
    - cron: 0 7 * * 1
permissions: {}
jobs:
  issue:
    name: Nesting Workshop reminder
    runs-on: ubuntu-latest
    steps:
      - name: Create token
        id: create-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.APPLICATION_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          owner: thatskyapplication
          repositories: thatskyapplication
      - uses: actions/checkout@v6
        with:
          token: ${{ steps.create-token.outputs.token }}
          persist-credentials: false
      - name: Open issue
        run: gh issue create --body "$ISSUE_BODY" --label "Game Changes" --title "Add Nesting Workshop props ($(date +%d/%m/%Y))"
        env:
          GITHUB_TOKEN: ${{ steps.create-token.outputs.token }}
          ISSUE_BODY: |
            Ensure all props available this week are added.
