name: Test
on: push
permissions:
  contents: read
jobs:
  testing:
    name: Testing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version: 24

      - name: Install dependencies
        run: pnpm install

      - name: Build dependencies
        run: pnpm run build

      - name: Validate TypeScript
        run: pnpm run test

      - name: Run Knip
        run: pnpm run knip
  style:
    name: Styling
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: biomejs/setup-biome@v2

      - name: Run Biome
        run: biome ci --reporter=github
  typographical-errors:
    name: Typographical errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Scan for typographical errors
        uses: crate-ci/typos@master
